<!-- Cambiar el texto por algo que nos pasen ellos, y cambiar solo los estilos, no creo que necesite nada más. 
Quizás habría que crear también en el footer las páginas de políticas de privacidad, de cookies, etc, etc...-->

<div class="contenedor">
    <app-breadcrumb></app-breadcrumb>
    <div class="titulo">
        <h2>Preguntas frecuentes</h2>
    </div>
    <div class="preguntas">
        <h3>1. ¿Cómo me registro?</h3>
        <p>En la web www.TiendaDeRopa.com clicando en el apartado “Accede a tu cuenta” se desplegará un menú. Clicando en el apartado “Registro”, deberás introducir el DNI, número de teléfono y correo electrónico. Una vez hecho esto te redirigirá a la página donde aparecerán tus datos de cliente para verificarlos o modificarlos si ha habido cambios. Una vez confirmado los datos tu tarjeta se activará automáticamente en la web y podrás empezar a comprar.
            Si no recuerdas tu número de tarjeta, indicándonos tu DNI y número de teléfono, se te enviará el número de tarjeta a tu correo electrónico. Para ello deberás clicar en “El Nº de tarjeta es obligatorio, si no lo recuerdas pulsa aquí ” dentro del apartado “Registro”
        </p>
    </div>
    <hr>
    <div class="preguntas">
        <h3>2. ¿Puedo hacer cambios en mi pedido?</h3>
        <p>No. Una vez que hayas finalizado tu pedido online no podrás añadir o eliminar productos o cambiar las cantidades. En caso de querer modificar la hora de entrega que habías reservado será necesario que te pongas en contacto con el Servicio de Atención al Cliente.</p>
    </div>
    <hr>
    <div class="preguntas">
        <h3>3. ¿Cómo hago un pedido?</h3>
        <p>Para poder realizar un pedido será necesario estar registrado en la web "TiendaDeRopa". Al acceder a la tienda online tendrás que elegir la dirección que quieres que te enviemos el pedido. Una vez completado este paso se podrá iniciar la realización del pedido.</p>
    </div>
    <hr>
    <div class="preguntas">
        <h3>4. ¿Puedo hacer cambios en mi pedido?</h3>
        <p>No. Una vez que hayas finalizado tu pedido online no podrás añadir o eliminar productos o cambiar las cantidades. En caso de querer modificar la hora de entrega que habías reservado será necesario que te pongas en contacto con el Servicio de Atención al Cliente.</p>
    </div>
    <hr>
    <div class="preguntas">
        <h3>5. ¿Puedo navegar por la web sin estar registrado?</h3>
        <p>Sí, podrás navegar por la web y ver los diferentes artículos que están disponibles en la Tienda Online de "TiendaDeRopa". Si además de navegar por la web deseas ir añadiendo productos al carrito te solicitaremos que indiques tu código postal (para poder mostrarte los productos disponibles en tu zona), seleccionar una tienda de recogida o registrarte con tus datos.</p>
    </div>
    <hr>
    <div class="preguntas">
        <h3>6. ¿Cómo recupero mi contraseña?</h3>
        <p>En el apartado de “Accede a tu cuenta” en la web, existe la opción de “olvidé mi contraseña”. Clicando aquí se te pedirán las credenciales oportunas y se te enviará una nueva contraseña a tu mail y se te dará la opción de cambiarla por la que tú desees.</p>
    </div>
    <div class="preguntas">
        <h3>¿Tienes alguna pregunta más?</h3>
        <button class="bot-cont" routerLink="/contacto">Contácto</button>
    </div>
</div>
