/* El primer boton es que sirve para todos los botones de la página, cuando necesitemos modificar un boton concreto deberemos hacerlo en scss del componente, no aquí */

button {
    
    background-color: #1fdbb7;
    color: white;
    padding: 0.5em;
    font-size: 1em;
    margin: 1em 0.5em 0 0;
    border-radius: 5px;

    &:hover {
        background-color: #18907a;
        transition: all 250ms ease-in-out;
    }

    &.vende {
        background-color: #1fdbb7;
        padding: 0.3em 1em;
        font-size: 1em;
        margin: 0;
        border-radius: 5px;

        &:hover {
            background-color: #b994fb;
            transition: all 250ms ease-in-out;
        }
    }

    &.boton-filtro {
        @include flex-row(space-between, center);
        background-color: rgb(245, 245, 245);
        
        
        img {
            width: 15px;
            height: 15px;
        }
    }


    &.outline {
        background-color: white;
        color: $main-color-darker;
        border: 1px solid $main-color-darker;
        border-bottom: 3px solid $main-color-darker;
    }

    &.outline:hover {
        background-color: $main-color-darker;
        color: white;
    }

    &.warning {
        background-color: $warning;
        border-bottom: 3px solid $warning-darker;
    }

    &.warning:hover {
        background-color: $warning-darker;
    }

    &.danger {
        background-color: $danger;
        border-bottom: 3px solid $danger-darker;
    }

    &.danger:hover {
        background-color: $danger-darker;
    }

    &.info {
        background-color: $info;
        border-bottom: 3px solid $info-darker;
    }

    &.info:hover {
        background-color: $info-darker;
    }
}