.contenedor-footer {
    background-color: rgb(245, 245, 245);
    width: 100vw;
    padding: 5em 0 3em;
    
    .column {
        @include flex-column(center,center);
        height: auto;
        padding: 1em;
    }

    img {
        width: 200px;
        height: 85px;
        
    }

    .column-info {

        h4 {
            color: rgb(0, 0, 0);
        }
    }
    .column-down {
        margin-top: 2em;
        min-height: auto;

        a {
            padding: 0.5em;

            img {
                width: 25px;
                height: 25px;
            }
        }

        p {
            color: rgb(110, 110, 110);
            a {
                padding-left: 0;
                color: rgb(110, 110, 110);

                &:hover {
                    color: #1fdbb7;
                    transition: all 250ms ease-in-out;
                }
            }
        }
    }
}


.contenedor-derechos {
    background-color: rgb(226, 226, 226);
    max-width: 100vw;
    padding: 0.5em;
    @include flex-row(space-between,center);

    .cont-arroba {
        width: 70em;
        margin: 0 auto;

        p {
            color: black;
            font-size: 12px;
            padding: 1em;
        }
    }
}