
<!-- Cambiar estilos, colores del hover, añadir algunas páginas, poner bien el correo y los números, etc, etc ... -->

<div class="contenedor-footer">
    <div class="fila-2">
        <div class="column">
            <a routerLink="/">
                <img src="../../../assets/Logo Cash The Closet (1).png" alt="">
            </a>
            <div class="column-down">
                <a href="">
                    <img src="assets/icons/facebook.svg" alt="">
                </a>
                <a href="">
                    <img src="assets/icons/twitter.svg" alt="">
                </a>
                <a href="">
                    <img src="assets/icons/whatsapp.svg" alt="">
                </a>
                <a href="">
                    <img src="assets/icons/instagram.svg" alt="">
                </a>
            </div>
        </div>
        <div class="column-info">
            <h4>Soporte</h4>
            <div class="column-down">
                <p><a routerLink="/contacto">Contáctanos</a></p> 
                <p><a routerLink="/faqs">FAQs</a></p>
                <p><a routerLink="/">Guía de tallas</a></p>
                <p><a routerLink="/">Envíos y Devoluciones</a></p>
            </div>
        </div>
        <div class="column-info">
            <h4>Tienda</h4>
            <div class="column-down">
                <p><a routerLink="/productos">Mujer</a></p>
                <p><a routerLink="/productos">Hombre</a></p>
                <p><a routerLink="/productos">Niños</a></p>
                <p><a routerLink="/productos">Descuentos</a></p>
            </div>
        </div>
        <div class="column-info">
            <h4>Compañía</h4>
            <div class="column-down">
                <p><a routerLink="/nosotros">Quiénes Somos</a></p>
                <p><a routerLink="/contacto">Empleo</a></p>
                <p><a routerLink="/">Términos y Condiciones</a></p>
                <p><a routerLink="/">Política de Cookies</a></p>
            </div>
        </div>
    </div>
</div>

<div class="contenedor-derechos">
    <div class="cont-arroba">
        <p>© 2020 All rights reserved. Cash The Closet.</p>
    </div>
</div>