
<!-- Cambiar los estilos y reestructurar. Yo me encargo del inicio y del nav -->

<div class="contenedor-inicio">
    <div class="hero inicio">
        <ul>
            <li class="first-img">
                <img src="assets/CTC.png" alt="">
            </li>
            <li>
                <img src="assets/CASH THE CLOSET (1).png" alt="">
            </li>
            <li>
                <img src="assets/CASH THE CLOSET (5) copia.png">
            </li>
        </ul>
        
        <!-- <div class="titulo">
            <h1>Si no te sirve</h1>
            <p>Cash The Closet</p>
        </div> -->
    </div>
</div>
<div class="cont-ult-prod">
    <h4>Últimos productos</h4>
    <div class="contenedor">
        
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/t-shirt-2420558_1920.png" class="first-img-thumbnail">
                <img src="assets/t-shirt-2423804_1920.png" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Camiseta Adidas</h3>
                    <p class="m-l-small">20€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/skateboarder-388977_1920.jpg" class="first-img-thumbnail">
                <img src="assets/adult-1869621_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Pantalones Levi´s</h3>
                    <p class="m-l-small">60€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/woman-1246571_1920.jpg" class="first-img-thumbnail">
                <img src="assets/young-woman-1745173_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Vestido Guess</h3>
                    <p class="m-l-small">90€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="cont-cat">
    <h2>Categorías</h2>
    <div class="contenedor-categoria">
    
        <div class="producto-categoria">
            <img src="assets/flower-child-336658_1920.jpg" alt="">
            <button class="boton" routerLink="/productos">Gafas de sol
                <img class="arrow-right" src="assets/icons/arrow-right.svg" alt="">
            </button>
        </div>
        <div class="producto-categoria">
            <img src="assets/shoes-1245920_1920.jpg" alt="">
            <button class="boton" routerLink="/productos">Zapatos
                <img class="arrow-right" src="assets/icons/arrow-right.svg" alt="">
            </button>
        </div>
        <div class="producto-categoria">
            <img src="assets/buy-online-t-shirts-2643876_1280.jpg" alt="">
            <button class="boton" routerLink="/productos">Camisetas
                <img class="arrow-right" src="assets/icons/arrow-right.svg" alt="">
            </button>
        </div>
        <div class="producto-categoria">
            <img src="assets/people-2563491_1920.jpg" alt="">
            <button class="boton" routerLink="/productos">Jerseys
                <img class="arrow-right" src="assets/icons/arrow-right.svg" alt="">
            </button>
        </div>
        <div class="producto-categoria">
            <img src="assets/bicycle-1838605_1920.jpg" alt="">
            <button class="boton" routerLink="/productos">Vestidos
                <img class="arrow-right" src="assets/icons/arrow-right.svg" alt="">
            </button>
        </div>
        <div class="producto-categoria">
            <img src="assets/blue-2564660_1920.jpg" alt="">
            <button class="boton" routerLink="/productos">Bolsos
                <img class="arrow-right" src="assets/icons/arrow-right.svg" alt="">
            </button>
        </div>
    </div>
</div>


<div class="contenedor-our">
    <div class="story">
        <div class="imagen">
            <img class="img1" src="assets/blur-1850082_1920.jpg" alt="">
            <img class="img2" src="assets/store-984393_1920.jpg" alt="">

        </div>
        <div class="ourStory">
            <h3>Lorem ipsum dolor </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, quidem provident? Perspiciatis delectus autem consequatur voluptatibus quasi aperiam! Aliquam placeat eaque est dolorum illo iste quia quis repellendus deserunt.</p>
            <button class="m-l-small boton-cart m-r-small" routerLink="/nosotros">Descubre más</button>
        </div>
    </div>
</div>


