
<!-- Cambiar los estilos y reestructurar. Yo me encargo del inicio y del nav -->

<div class="contenedor-inicio">
    <div class="hero inicio">
        <ul>
            <li class="first-img">
                <img src="assets/CTC.png" alt="">
            </li>
            <li>
                <img src="assets/CASH THE CLOSET (1).png" alt="">
            </li>
            <li>
                <img src="assets/CASH THE CLOSET (5) copia.png">
            </li>
        </ul>
        
        <!-- <div class="titulo">
            <h1>Si no te sirve</h1>
            <p>Cash The Closet</p>
        </div> -->
    </div>
</div>
<div class="cont-ult-prod">
    <h4>Últimos productos</h4>
    <hr>
    <div class="contenedor">
        
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/t-shirt-2420558_1920.png" class="first-img-thumbnail">
                <img src="assets/t-shirt-2423804_1920.png" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Camiseta Adidas</h3>
                    <p class="m-l-small">20€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/skateboarder-388977_1920.jpg" class="first-img-thumbnail">
                <img src="assets/adult-1869621_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Pantalones Levi´s</h3>
                    <p class="m-l-small">60€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/woman-1246571_1920.jpg" class="first-img-thumbnail">
                <img src="assets/young-woman-1745173_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Vestido Guess</h3>
                    <p class="m-l-small">90€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/woman-1246571_1920.jpg" class="first-img-thumbnail">
                <img src="assets/young-woman-1745173_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Vestido Guess</h3>
                    <p class="m-l-small">90€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="cont-cat">
    <div class="contenedor-categoria">
        <h4>Categorías</h4>
        <hr>
    
        <div class="producto-categoria">
            <img src="assets/flower-child-336658_1920.jpg" alt="">
            <button routerLink="/productos"><span>Gafas</span> 
                
            </button>
        </div>
        <div class="producto-categoria">
            <img src="assets/shoes-1245920_1920.jpg" alt="">
            <button routerLink="/productos"><span>Zapatos</span> 
                
            </button>
        </div>
        <div class="producto-categoria">
            <img src="assets/buy-online-t-shirts-2643876_1280.jpg" alt="">
            <button routerLink="/productos"><span>Camisetas</span>
                
            </button>
        </div>
        <div class="producto-categoria">
            <img src="assets/people-2563491_1920.jpg" alt="">
            <button routerLink="/productos"><span>Jerseys</span>
                
            </button>
        </div>
        <div class="producto-categoria">
            <img src="assets/bicycle-1838605_1920.jpg" alt="">
            <button routerLink="/productos"><span>Vestidos</span>
                
            </button>
        </div>
        <div class="producto-categoria">
            <img src="assets/blue-2564660_1920.jpg" alt="">
            <button routerLink="/productos"><span>Bolsos</span>
                
            </button>
        </div>
    </div>
</div>


<div class="contenedor-our">
    <div class="story">
        <div class="imagen">
            <img class="img1" src="../../../assets/Canva - Men's Clothing Wardrobe Hanging.jpg" alt="">
            <img class="img2" src="../../../assets/Canva - White and Black Floral Cap-sleeved Shirt.jpg" alt="">

        </div>
        <div class="ourStory">
            <h3>Cash The Closet</h3>
            <h4>Gana dinero y espacio...¡Sin perder tiempo!</h4>
            <p>El proceso es muy sencillo:</p>
            <p>1. Recogemos tus prendas (¡GRATIS!)</p>
            <p>2. Las vendemos en un plazo de 2 meses</p>
            <p>3. ¡Recibes tu dinero!</p>
            <button class="m-l-small boton-cart m-r-small" routerLink="/nosotros"><span>Descubre más</span></button>
        </div>
    </div>
</div>


