
<!-- Cambiar estilos y ver si funciona la lógica, yo me encargo de ésto -->

<app-breadcrumb></app-breadcrumb>
<div class="contenedor-carrito">
    <div class="contenedor-producto-datos">
        
        <div class="producto-carrito">
            <div class="imag-datos">
                <img src="assets/t-shirt-2420558_1920.png" alt="">
                <div class="datos-prod">
                    <h4>Camiseta Adidas</h4>
                    <p>Talla: M</p>
                    <p>Color: Azul</p>
                    <select id="cantidad">
                        <option value="value1">1</option> 
                        <option value="value2">2</option>
                        <option value="value3">3</option>
                    </select>
                </div>
                <div class="precio-quitar">
                    <p>20€</p>
                    <button>Quitar</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="producto-carrito">
            <div class="imag-datos">
                <img src="assets/t-shirt-2420558_1920.png" alt="">
                <div class="datos-prod">
                    <h4>Camiseta Adidas</h4>
                    <p>Talla: M</p>
                    <p>Color: Azul</p>
                    <select id="cantidad">
                        <option value="value1">1</option> 
                        <option value="value2">2</option>
                        <option value="value3">3</option>
                    </select>
                </div>
                <div class="precio-quitar">
                    <p>20€</p>
                    <button>Quitar</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="producto-carrito">
            <div class="imag-datos">
                <img src="assets/t-shirt-2420558_1920.png" alt="">
                <div class="datos-prod">
                    <h4>Camiseta Adidas</h4>
                    <p>Talla: M</p>
                    <p>Color: Azul</p>
                    <select id="cantidad">
                        <option value="value1">1</option> 
                        <option value="value2">2</option>
                        <option value="value3">3</option>
                    </select>
                </div>
                <div class="precio-quitar">
                    <p>20€</p>
                    <button>Quitar</button>
                </div>
            </div>
        </div>
        <hr>
    </div>
    

    <div class="total">
        <div class="subtotal">
            <p>Subtotal</p>
            <P>20€</P>
        </div>
        <hr>
        <div class="subtotal">
            <p>Tasas</p>
            <P>0€</P>
        </div>
        <hr>
        <div class="subtotal">
            <h4>Total</h4>
            <h4>20€</h4>
        </div>
        <hr>
        <button>Pagar</button>
    </div>
</div>
