/* Igual que el layout, este es un poco caja de herramientas que despues he ido cambiando en cada componente que lo necesitaba,
 pero en principio aquí estan las cosas que vemos en la página de inicio. Yo, me encargo de ella */

.contenedor-inicio {
    max-width: 70em;
    margin: 0 auto;
    margin-bottom: 5em;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

 
        
    .hero.inicio {
        margin: 0.05em auto;
        width: 100%;
        position: relative;
        height: 700px;
        overflow: hidden;

        ul {
            width: 300%;
            display: flex;
            padding: 0;

            animation: cambio 20s infinite linear;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;

            li {
                width: 100%;
                list-style: none;

                &.first-img {
                    img {
                        object-fit: contain;
                        height: 700px;
                        width: 100%;
                    }
                }

                img {
                    object-fit: cover;
                    height: 700px;
                    width: 100%;
                }
            }
        }

        @keyframes cambio {
            0% { margin-left: 0;}
            30% { margin-left: 0;}

            35% { margin-left: -100%;}
            65% { margin-left: -100%;}

            70% { margin-left: -200%;}
            100% { margin-left: -200%;}
        }

       

        p {
            font-size: 2em;
            color: white;
        }

        .titulo {
            @include flex-column(center, center);

            h1 {
                color: black;
            }
            p{
                color: black;
            }
        }
    }
}


.cont-ult-prod {
    max-width: 70em;
    width: 100%;
    margin-bottom: 5em;
    padding-top: 2em;
    margin: 0 auto;

    h4 {
        @include flex-row(flex-start, center);
        width: 100%;
        margin: 0 auto;
        color: black;
    }
}

.cont-cat {
    background-color: rgb(245, 245, 245);
    padding: 2em 2em 5em 2em;
    width: 100vw;
}

.contenedor-categoria{

    max-width: 70em;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .producto-categoria{

        max-width: 95%;
        margin: 0 auto 2em;
        position: relative;
        width: 300px;
        height: 300px;
        overflow: hidden;
        @include flex-column(flex-end, center);

        

        img {

            height: 300px;
            margin: 0 auto;

            &:hover {
                filter: grayscale(70%);
                transition: all 600ms ease-in-out;
            }
        }

        button {
            position: absolute;

            &.boton {
                @include flex-row(space-between, center);
                height: 50px;
        
                .arrow-right {
                    height: 21px;
                    width: 30px;
                }
            }
        }
    }
}

.contenedor-our {
    width: 100vW;
    max-width: 70em;;
    margin: 2em auto;
    background-color: $main-color;


    .story {
        @include flex-row(space-between, center);
        width: 70em;
        height: 30em;
        max-height: 30em;
        margin: 4em auto;
        position: relative;
    
       
        .imagen{
            width: 50%;
            border-radius: 0.5em ;
            
            .img1{
                height: 250px;
                max-width: 25em;
                position: relative;
                top: -100px;
                left: 180px;
                z-index: 1;
            } 
            .img2{
                margin: 7em 0 0 -12em;
                position: absolute;
                top: 50px;
                left: 190px;
                height: 250px;
                max-width: 25em;
                z-index: 1;
            }
        }
    }
    .ourStory{
        @include flex-column(space-between, center);
        width: 50%;
        padding: 5em;

        h3{
            width: 100%;
            text-align: left;
            font-size: 2em;
            padding: 0em 0 1em 0 ;
        }
        p{
          
            font-size: 1.2em;
        }
        .boton-cart {
            background-color: rgb(31, 31, 31);
            color: white;
            font-size: 0.8em;
            margin-top: 1em;
            width: 100%;

            &:hover {
                background-color: black;
            }
        }
    }
}