<!-- Aquí hay que añadir la opción de seleccionar los filtros en el lateral y ponerle su lógica para que busque cuando se seleccione. Además hay que pintar los filtros selecionados (esto vendrá de las categoriás del producto que tengamos. Lo mismo, trabajamos con nuestro backend y ya se cambiará). También hay que añadirle la lógica de la paginación.

Si queréis yo me encargo de esta parte que la conozco y es un poco más jodida-->

<div class="contenedor-productos">

    <header class="hero-productos">
        <div class="titulo">
            <h1>Shopping</h1>
            <p>Best way to shop</p>
        </div>
    </header>
    <app-breadcrumb></app-breadcrumb>

    <div class="filtros"> <!-- Aquí se pintan los filtros -->
        <button class="m-r-small">Camisetas
            <img class="m-l-small" src="assets/icons/x.svg" alt="">
        </button>
        <button class="m-r-small">Azul
            <img class="m-l-small" src="assets/icons/x.svg" alt="">
        </button>
        <button class="m-r-small">0€ - 50€
            <img class="m-l-small" src="assets/icons/x.svg" alt="">
        </button>
        <button class="m-r-small">Hombre
            <img class="m-l-small" src="assets/icons/x.svg" alt="">
        </button>
    </div>
    

    <app-spinner *ngIf="showSpinner"></app-spinner>
    <p class="sin-resultados" *ngIf="productos?.length === 0">No se encontraron resultados</p>

    <div class="contenedor">
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/t-shirt-2420558_1920.png" class="first-img-thumbnail">
                <img src="assets/t-shirt-2423804_1920.png" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Camiseta Adidas</h3>
                    <p class="m-l-small">20€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/skateboarder-388977_1920.jpg" class="first-img-thumbnail">
                <img src="assets/adult-1869621_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Pantalones Levi´s</h3>
                    <p class="m-l-small">60€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/woman-1246571_1920.jpg" class="first-img-thumbnail">
                <img src="assets/young-woman-1745173_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Vestido Guess</h3>
                    <p class="m-l-small">90€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/woman-1246571_1920.jpg" class="first-img-thumbnail">
                <img src="assets/young-woman-1745173_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Vestido Guess</h3>
                    <p class="m-l-small">90€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/t-shirt-2420558_1920.png" class="first-img-thumbnail">
                <img src="assets/t-shirt-2423804_1920.png" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Camiseta Adidas</h3>
                    <p class="m-l-small">20€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/skateboarder-388977_1920.jpg" class="first-img-thumbnail">
                <img src="assets/adult-1869621_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Pantalones Levi´s</h3>
                    <p class="m-l-small">60€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/woman-1246571_1920.jpg" class="first-img-thumbnail">
                <img src="assets/young-woman-1745173_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Vestido Guess</h3>
                    <p class="m-l-small">90€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/woman-1246571_1920.jpg" class="first-img-thumbnail">
                <img src="assets/young-woman-1745173_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Vestido Guess</h3>
                    <p class="m-l-small">90€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/t-shirt-2420558_1920.png" class="first-img-thumbnail">
                <img src="assets/t-shirt-2423804_1920.png" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Camiseta Adidas</h3>
                    <p class="m-l-small">20€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/skateboarder-388977_1920.jpg" class="first-img-thumbnail">
                <img src="assets/adult-1869621_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Pantalones Levi´s</h3>
                    <p class="m-l-small">60€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/woman-1246571_1920.jpg" class="first-img-thumbnail">
                <img src="assets/young-woman-1745173_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Vestido Guess</h3>
                    <p class="m-l-small">90€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto" routerLink="/producto">
            <div class="thumbnail-container">
                <img src="assets/woman-1246571_1920.jpg" class="first-img-thumbnail">
                <img src="assets/young-woman-1745173_1920.jpg" class="second-img-thumbnail">
            </div>
            <div class="contenido-anuncio">
                <div class="info-prod">
                    <h3>Vestido Guess</h3>
                    <p class="m-l-small">90€</p>
                </div>
                <div class="botones">
                    <button class="m-l-small m-r-small">Añadir al carrito</button>
                    <div class="contenedor-corazon">
                        <a class="add-fav">
                            <img src="assets/icons/heart.svg" class="m-r-small negro">
                            <img src="assets/icons/heartred.svg" class="m-r-small rojo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="paginacion">
    <a href="#">&laquo;</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>


