<!-- Quizas esta página podría servir para poner las explicaiones que nos han pasado los chavales para explicar quiénes son y qué es su negocio. 
    Hay que darle un vuelta a esta página además de cambiarle los estilos -->




<div class="contenedor">
    <div class="principal">
        <img src="assets/clothing-store-984396_1920.jpg" alt="">
    </div>
    
    <app-breadcrumb></app-breadcrumb>
    <div class="story">
        <div class="imagen">
            <img class="img1" src="assets/blur-1850082_1920.jpg" alt="">
            <img class="img2" src="assets/store-984393_1920.jpg" alt="">

        </div>
        <div class="ourStory">
            <h3>Lorem ipsum dolor </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, quidem provident? Perspiciatis delectus autem consequatur voluptatibus quasi aperiam! Aliquam placeat eaque est dolorum illo iste quia quis repellendus deserunt. 
                </p>
        </div>
    </div>
    <hr>
     <div class="whoWeAre">
        <div class="ourStory">
            <h3>Lorem ipsum dolor </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, quidem provident? Perspiciatis delectus autem consequatur voluptatibus quasi aperiam! Aliquam placeat eaque est dolorum illo iste quia quis repellendus deserunt. Beatae, voluptatibus placeat est corporis dicta, sunt asperiores magni eligendi quas fugit eos minima dolorum distinctio voluptas esse ipsam necessitatibus alias! Quod est vero pariatur, exercitationem cum molestias! Necessitatibus, aliquam facere.</p>
        </div>
        <div class="imagen">
             <img class="img1" src="https://cdn.pixabay.com/photo/2015/01/20/14/28/fashion-605508_960_720.jpg" alt="">
            <img class="img2" src="https://cdn.pixabay.com/photo/2016/03/27/19/57/cold-1284030_960_720.jpg" alt=""> 
        </div>
    </div>
    <hr>



    <!-- Un carrousel que me pasó Ruben. No conseguí que funcionase, si lo queréis intentar adelante -->





    <!--<div class="imagenes" >
          <div style="text-align:center;">
                <owl-carousel-o [options]="customOptions" >
                    <ng-template carouselSlide >
                        <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyDIfkplOG5FaIvv7r37WAZRH8-IhQ0Vmcr9E584heC_U6_unW&s">
                    </ng-template>  
                    <ng-template carouselSlide> 
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRFr5NgwNOQyb2btdv16mH2r02xH8BBCZSpXL6no5flasiLV_LA">
                    </ng-template>  
                    <ng-template carouselSlide> 
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqP-XoPgfTe3aCGFPCp2xbsdMIwuNo3CqbrDBXtrR_PBJq_b6V">
                    </ng-template> 
                    <ng-template carouselSlide>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQn7mCdoLXDSczlzzpo3QgTpWdz793Ey8cOf6pxQ5VWjAQtTLF_">
                    </ng-template>  
                    <ng-template carouselSlide>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR8wnEqaHORueywGSE4pEZih0WkDrZJ8Ab1qbxt3m_vK5LIedG6">
                    </ng-template>  
            </owl-carousel-o>
          </div>
    </div> -->
    <hr>

    <!-- Aqui solo falta que lo enlaces con la pagina de productos -->
    <!-- <div class="goPrincipal" routerLink="/productos">
        <div class="marco">
            <h2>Encuentra aqui tu ropa</h2>
        </div>
    </div> -->
</div>