
<!-- Cambiar un poco el estilo. Yo me encargo -->

<nav #nav>
    <div class="contenedor-nav">
        
        <a routerLink="/">
            <img src="assets/icons/CTC PITCH.png" alt="Logotipo de Shopper">
        </a>

        <span routerLink="/">
            <img src="assets/icons/monogram-logo-maker-for-a-modern-marketing-company-2227.png" alt="">
        </span>

        <ul id="navegacion" class="navegacion">
            
            <a class="m-r-small" routerLink="/">
                <img src="assets/icons/home-red.svg" alt="">
            </a>
            <a class="m-r-small" (click)="openSidePerfil()">
                <img src="assets/icons/user.svg" alt="">
            </a>
            <a class="m-r-small" routerLink="/contacto">
                <img src="assets/icons/message-square.svg" alt="">
            </a>
            <a class="m-r-small" class="carrito" (click)="openSideCarrito()">
                <div class="img-carrito">
                    <img src="assets/icons/shopping-cart.svg" alt="">
                    <div class="numero-productos">
                        <p>3</p>
                    </div>
                </div>
            </a>
        </ul>      
        <!-- <div class="mensaje" 
             *ngIf="texto.length > 0 && showMensaje"
             [ngClass]="{
                            'success': tipoMensaje === 'exitoTotal',
                            'warning': tipoMensaje === 'warning',
                            'danger': tipoMensaje === 'error'
                        }">
            {{texto}}
        </div> -->
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeSideCarrito()">&times;</a>
        <h3>Mi carrito</h3>
        <hr>
        <div class="cont-side-prod-carrito">
            <div class="producto-carrito">
                <div class="imag-datos">
                    <img src="assets/t-shirt-2420558_1920.png" alt="">
                    <div class="datos-prod">
                        <h4>Camiseta Adidas</h4>
                        <p>Talla: M</p>
                        <p>Color: Azul</p>
                        <select id="cantidad">
                            <option value="value1">1</option> 
                            <option value="value2">2</option>
                            <option value="value3">3</option>
                        </select>
                    </div>
                    <div class="precio-quitar">
                        <p>20€</p>
                        <button>Quitar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="cont-side-prod-carrito">
            <div class="producto-carrito">
                <div class="imag-datos">
                    <img src="assets/t-shirt-2420558_1920.png" alt="">
                    <div class="datos-prod">
                        <h4>Camiseta Adidas</h4>
                        <p>Talla: M</p>
                        <p>Color: Azul</p>
                        <select id="cantidad">
                            <option value="value1">1</option> 
                            <option value="value2">2</option>
                            <option value="value3">3</option>
                        </select>
                    </div>
                    <div class="precio-quitar">
                        <p>20€</p>
                        <button>Quitar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="total">
            <div class="subtotal">
                <p>Subtotal</p>
                <P>20€</P>
            </div>
            
            <div class="subtotal">
                <p>Tasas</p>
                <P>0€</P>
            </div>
            <hr>
            <div class="subtotal">
                <h4>Total</h4>
                <h4>20€</h4>
            </div>
            <hr>
            <button>Pagar</button>
            <button routerLink="/carrito" (click)="closeSideCarrito()">Ir al carrito</button>
        </div>
      </div>

      <div id="mySidePerfil" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeSidePerfil()">&times;</a>
        <h3>Perfil</h3>
        <!-- Ruben aquí tienes que hacer el login y definir que accesos va a tener el usuario (Mis pedidos, Mi cuenta...etc, lo que se te ocurra (Después tendremos que crear esas páginas, recuerdalo)) -->
      </div>
</nav>
<hr>
<div class="container">
    <ul class="fila">
        <div class="contenedor-categorias">

            <a routerLink="/productos">Nuevo</a>
            <a routerLink="/productos">- 5€</a>
            
            <li>Mujer
                <ul>
                    <div class="contenedor-select">
                        <div class="cat">
                            <h4>Ropa</h4>
                            <li><a href="">Pantalones</a></li>
                            <li><a href="">Vaqueros</a></li>
                            <li><a href="">Camisas y blusas</a></li>
                            <li><a href="">Camisetas y tops</a></li>
                            <li><a href="">Jerseys y sudaderas</a></li>
                            <li><a href="">Chaquetas</a></li>
                            <li><a href="">Abrigos</a></li>
                            <li><a href="">Vestidos</a></li>
                            <li><a href="">Faldas</a></li>
                        </div>
                        <div class="cat">
                            <h4>Zapatos</h4>
                            <li><a href="">Botines</a></li>
                            <li><a href="">Botas</a></li>
                            <li><a href="">Zapatillas</a></li>
                            <li><a href="">Zapatos planos</a></li>
                            <li><a href="">Zapatos de tacón</a></li>
                            <li><a href="">Bailarinas</a></li>
                            <li><a href="">Sandalias</a></li>

                        </div>
                        <div class="cat">
                            <h4>Top Marcas</h4>
                            <li><a href="">Zara</a></li>
                            <li><a href="">Stradivarius</a></li>
                            <li><a href="">Mango</a></li>
                            <li><a href="">H&M</a></li>
                            <li><a href="">Bershka</a></li>
                            <li><a href="">Massimo Dutti</a></li>
                        </div>
                        <div class="img-hover">
                            <img src="assets/girl-983969_1920.jpg" alt="">
                        </div>
                    </div>
                </ul>
            </li>
            <li>Hombre
                <ul>
                    <div class="contenedor-select">
                        <div class="cat">
                            <h4>Ropa</h4>
                            <li><a href="">Pantalones</a></li>
                            <li><a href="">Vaqueros</a></li>
                            <li><a href="">Camisas y camisetas</a></li>
                            <li><a href="">Polos</a></li>
                            <li><a href="">Jerseys y sudaderas</a></li>
                            <li><a href="">Chaquetas</a></li>
                            <li><a href="">Abrigos</a></li>
                            <li><a href="">Cazadoras</a></li>
                        </div>
                        <div class="cat">
                            <h4>Zapatos</h4>
                            <li><a href="">Botas</a></li>
                            <li><a href="">Botines</a></li>
                            <li><a href="">Zapatillas</a></li>
                            <li><a href="">Mocasines</a></li>
                            <li><a href="">Náuticos</a></li>
                            <li><a href="">Zapatos de vestir</a></li>
                        </div>
                        <div class="cat">
                            <h4>Top Marcas</h4>
                            <li><a href="">Zara</a></li>
                            <li><a href="">Stradivarius</a></li>
                            <li><a href="">Mango</a></li>
                            <li><a href="">H&M</a></li>
                            <li><a href="">Bershka</a></li>
                            <li><a href="">Massimo Dutti</a></li>
                        </div>
                        <div class="img-hover">
                            <img src="assets/fashion-1866574_1920.jpg" alt="">
                        </div>
                    </div>
                </ul>
            </li>
            <li>Complementos
                <ul>
                    <div class="contenedor-select">
                        <div class="cat-comp">
                            <h4>Categorías</h4>
                            <li><a href="">Todos los accesorios</a></li>
                            <li><a href="">Cinturones</a></li>
                            <li><a href="">Mochilas</a></li>
                            <li><a href="">Carteras</a></li>
                            <li><a href="">Bolsos</a></li>
                            <li><a href="">Bufandas</a></li>
                            <li><a href="">Guantes</a></li>
                            <li><a href="">Gafas de sol</a></li>
                        </div>
                        
                        <div class="cat-comp">
                            <h4>Marcas de accesorios</h4>
                            <li><a href="">Adolfo Domínguez</a></li>
                            <li><a href="">Lacoste</a></li>
                            <li><a href="">Guess</a></li>
                            <li><a href="">Tommy Hilfiger</a></li>
                            <li><a href="">Armani</a></li>
                            <li><a href="">Calvin Klein</a></li>
                        </div>
                        <div class="img-hover">
                            <img src="assets/fashion-2208045_1920.jpg" alt="">
                        </div>
                    </div>
                </ul>
            </li>
            <button routerLink="/nosotros" class="vende">Vende tu ropa</button>
        </div>
        <div class="buscador">
            <a class="m-r-small">
                <form class="buscador" [formGroup]="formSearch">
                    <label (click)="showSearch()">
                        <img src="assets/icons/search.svg">
                    </label>
                    <input type="search" 
                        placeholder="Buscar producto..." 
                        #search
                        formControlName="search">
                </form>
            </a>
        </div>
    </ul>
</div>